@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Koulen&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.notification-container {
    position: absolute;
    background-color: red;
    top: 0.5%;
    left: 0.3%;
    height: 65%;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
}

.notification-row {
    background-color: yellow;
    margin: 2px;
    padding: 3px;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
}

.notification-logo-container {
    background-color: green;
    display: flex;
    align-items: center;
    width: 19%;
}

.notification-body-container {
    background-color: rgb(128, 113, 0);
    width: 80%;
}

/* .notification-container div {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    min-height: 40px;
    width: 275px;
    margin: 5px;
    background-color: yellow;
} */

/* .notification-row ion-icon {
    width: 22px;
    height: 22px;
    display: flex;
} */